@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.productos-section {
    padding: 40px;
    text-align: center;
    background-color: #d7d9f72c;

    h1 {
        font-family: "Lilita One", sans-serif;
        font-size: 3rem;
        color: $brown-dark;
        margin-bottom: 20px;
    }
}

.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include responsive(tablet) {
        flex-direction: column;
        align-items: center;
    }
}

.producto-card {
    background: rgba(128, 195, 240, 0.555);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px;
    padding: 40px;
    width: 400px;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    h2 {
        color: $brown-dark;
        font-size: 26px;
    }

    p {
        color: #272847;
        font-size: 20px;
    }

    .precio {
        font-weight: bold;
        color: $brown-dark;
        font-size: 30px;
    }

    .comprar-btn {
        background-color: $brown-dark;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #6a1b00;
        }
    }

    @include responsive(tablet) {
        width: 80%;
        max-width: 300px;
    }

    @include responsive(mobile) {
        width: 95%;
    }
}
